<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/admin.css">
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script defer src="/scripts/admin.js"></script>
  
  <title>Shopify</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="https://freepngimage.com/content/uploads/images/spotify-logo-7641.png" alt="spotify" class="shopify-logo" />
        </div>
        <div class="icon-bar">
            <img src="https://image.flaticon.com/icons/svg/25/25694.svg" width="30px" height="30px"/>
            <img src="https://cdn2.vectorstock.com/i/1000x1000/74/31/growth-chart-flat-icon-vector-10047431.jpg" width="30px" height="30px" />
            <img src="https://static.thenounproject.com/png/370589-200.png" width="30px" height="30px"/>
            <img src="https://cdn3.iconfinder.com/data/icons/media-1-3/32/Communication-Conversation-Chat-512.png" width="30px" height="30px" />
          </div>
    </div>
    <div class="admin">
        <div class="top">
            <h3>Email Newsletter Signups</h3>
            <div class="search">
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Sign Up Date</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>